.editAdministrator:hover {
    cursor: pointer;
}

.deleteAdministrator:hover {
    cursor: pointer;
}

#addClubImage, #photo {
    width: 150px;
    height: 200px;
    margin: 0 auto;
}

.clubButton {
    margin-left: 2px;
}

.clubImage {
    width: 150px;
    height: 200px;
    margin: 0 auto;
}

.img-admin {
    max-height: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }