{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}

{% block navbar %}
    {{ include('navbar.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Hello buddy and welcome to this website !</h1>
    <p>Work in progress</p>
{% endblock %}