{# templates/login.html.twig #}
{% extends 'common/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
        <div class="login-form">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h2 class="text-center">Connexion</h2>   
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="email" placeholder="Email" required="required">				
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Mot de passe" required="required">				
                    </div>
                </div>  
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">      
                <div class="form-group">
                    <button type="submit" class="btn btn-primary login-btn btn-block">Connexion</button>
                </div>
                <div class="clearfix">
                    <label class="pull-left checkbox-inline"><input type="checkbox"> Se rappeler de moi</label>
                    <a href="#" class="pull-right">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}