{# templates/wip.html.twig #}
{% extends 'common/base.html.twig' %}

{% block body %}
<h1>Le site est en cours de développement !</h1>
<p>Cette page n'est pas encore disponible.
<br />
Restez à l'affut, elle pourrait prochainement être ici ;)</p>
{% endblock %}